  
.autocomplete{
    width: 400px;
    border: 1px solid gray;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 4px 1px rgba(0, 0, 0, 0.18);
    border-radius: 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.73);
    align-items: center;
    box-sizing: border-box;
    margin: auto;
}
 
 
 
.autocomplete input{
   width: 100%;
   border: none;
   font-size: 12px;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 14px;
   color: rgba(0, 0, 0, 0.73);
   padding: 6px 5px;
   box-sizing: border-box;
   outline: none;
}
 
 
.autocomplete ul{
    list-style-type: none;
    text-align: left;
    margin: 0;
    padding: 0;
    border-top: 1px solid gray ;
}
 
.autocomplete ul::before{
 content: "" ;
}
 
.autocomplete li {
    padding: 6px 5px;
    cursor: pointer; 
    color: gray;

}
 
.autocomplete li:hover {
   text-decoration: none;
   background-color: rgba(128, 128, 128, 0.20);
   color: gray;
}